 * {
    margin:0px;
    padding:0px;
    border:border-box;
font-family: Arial, Helvetica, sans-serif;
}
.navbar
{
    height:60px;
    background-color: #0F1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

.nav-logo{
    
    width:100px;
    height:50px;
}
/*box1*/
.nav-logo{
    background-image: url("amazon.jfif");
    background-size: cover;
    height:50px;
    width:100px;
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/*box2*/
.address1{
    font-size:0.60;
    color:#CCCCCC;
    margin-left:15px;
}
.address2{
    font-size:1rem;
    color:#FFFFFF;
    font-weight: bold;
    margin-left: 5px;
}
.address-icon{
    display:flex;
 align-items:center;
}
/*box3*/
.nav-search
{
    display:flex;
    align-items:center;
    width:600px;
    height:50px;

justify-content:space-evenly;

}
.search-select{
    width:50px;
    height:50px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border:none;
    font-size: 1rem;
background-color: #CCCCCC;

}
.search-input{
    height:50px;
    width:100%;
    font-size: 1rem;
    font-weight:lighter;
    border:none;
}
.search-icon{
    width:45px;
    height:50px;
    display:flex;
justify-content:center;
    align-items:center;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border:none;
    background-color: rgb(238, 148, 14);
    color:black;
    font-size: large;

}
/*box4&5*/
span{
    font-size: 0.75rem;
    
}
.signin1{
    font-weight:bold ;
}
.nav-search:hover{
    border:2px solid orange;
}
/*box6*/
.nav-cart{
    display:flex;
    align-items:center;
    font-size: 0.80rem;
    font-weight: bold;
}
.nav-cart i{
    font-size: 2rem;
}

.panel{
    height:40px;
    background-color: #0e1647;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    color:white;
}
.menu{
    display:flex;
    align-items:center;
    justify-content: center;
    
    font-weight: bold ;
}
.panel-opt p
{
   display:inline;
   margin-left:10px;

}
.panel-opt{
    font-size: 0.90rem;
    height:30px;
    width:70%;
    

}
.panel-deals{
    font-size: 1rem;
    font-weight: bold;
}
/*main-content*/
.main-section1{
    background-image:url("bgimage.jpg");
    background-size:cover;
    height:400px;
    display:flex;
    justify-content: center;
    align-items:flex-end;
}
.main-msg{
    background-color: white;
    color:black;
    height:40px;
    /*text-align:center;*/
    display:flex;
    justify-content:center;
    align-items:center;
    width:80%;
    /*margin-bottom:20px;*/
    position:relative;
    bottom:20px;
}
.main-msg p{
    font-size:14px;
}
.main-msg a{
    color:#132fcf;
}
/*shop-section*/
.shop-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color: rgb(248, 203, 211);;
    
}
.box{
    height:400px;
    /*border:2px solid black;*/
    width:23%;
    background-color: white;
    margin-top:10px;
}
.box-content{
    margin-right:1rem;
    margin-left:0.4rem;
    padding-top: 0.3rem;;
}
.box-image1{
    /*background-image: url("box1.jpg");*/
    background-size: cover;
    height:280px;
    padding:20px 0px 15px 0px;
    margin-top:1rem;
    margin-left:1rem;
}
/*.box-image1 a{
position:relative;
top:50px;
}*/
footer{
    margin-top:10px;
}
.foot{
    background-color: #0e1647;
    color:white;
    height:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight: bold;
    font-size:14px;/*0.85rem*/

}
.foot-panel{
    background-color:#1e254d;
    color:white;
    height:300px;
    display:flex;
    justify-content:center;
    justify-content: space-evenly;
    padding-top:25px;



}
.foot-panel a{
    display:block;
    font-size: 0.90rem;
    margin-top:0.80rem;
    color:#CCCCCC;
}
.foot-panel p{
    font-weight: bold;
}
.foot-panel1{
    height:70px;
    background-color: #040a2e;
    color:white;
    border-top:1px solid white;
    display: flex;
    justify-content: center;
    align-items:center;
}
.logo{
    background-image: url("amazon.jfif");
    background-size: cover;
    width:75px;
    height:40px;

}
.foot-panel2{
    height:70px;
    background-color:#060b24;
    color:white;
    text-align:center;
    padding-top:20px;

}
.pages{
    font-weight: bold;
    font-size:0.80rem;
    

}
.pages a{
    margin-right:15px;
}
.copywrite{
    padding-top:10px;
    font-size:0.80rem;
    font-weight: bold;
}